.thumbnail img{
  height: 230px;;
  width: 200px;
}

.thumbnail .description{
  color: border;
}

.price{
  font-weight: bold;
  font-size: 16px;
}

.container-fluid{
  background-color: #4cae4c;
}

.navbar-default .navbar-brand {
    color: #333;
}
.navbar-default .navbar-nav>li>a {
    color: #333;
}

.body{
  background-color: #e3e3e3;
}